@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}
p{
    font-size: 16px;
    color:rgb(66, 66, 66);
}
img{
    width: 100%;
}
main{
    max-width: 1260px;
    margin: 0 auto;
}
/* share-stye */
.flex{
    display: flex;
}
.font{
    font-size: 3rem;
    font-weight: 700;
}
.dark-2{
    color:rgb(66, 66, 66) ;
}
.bg-color{
    background-color:rgba(255, 144, 14, 0.1);
}




/* header-style */


/* nav-style */
nav{
    justify-content: space-between;
    align-items: center;
}
nav h2{
    font: size 3rem;;
    font-weight: 700;
}
nav li {
    list-style: none;
    font-size:1.2rem; 
     
}
nav li a{
    text-decoration: none;
    
    margin-right: 20px;
}
.nav-container,.banner{
    max-width:1360px ;
    margin: 0 auto;
    }
/* nav-banner */
.banner-content
{
    max-width:860px ;
    text-align: center;
    margin: 50px auto;
}
.banner-content h2{
    font-size: 4rem;
    font-weight:700;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
/* main */
/* business-section */
.business{
align-items: center;
margin: 100px auto;

gap: 50px;
}
.business-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.business-content{
    max-width: 540px;
}
.business-content h2{
    font-size: 3rem;
    font-weight: 700;
}
.light{
    font-weight: 400;
    color: rgb(114, 114, 114);
}
.orange{
    color:rgb(255, 144, 14) ;
}
/* future-style */
.future{
    margin-top:0;
    margin-bottom: 0;
    gap: 150px;
}
.future-content{
    max-width:588px ;
}
.future-content h2{
    font-size: 3rem;
    font-weight: 700;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
    margin: 0;
}
 

.future-card{
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 20px 0  rgb(19, 19, 19);
    margin-bottom: 20px;
    max-height: 170px;
}
.future-btn{
    padding: 40px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
.future-btn span{
     font-size: 4rem;
    font-weight: 700;
}
/* facts-style */
.skills-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30PX;
}
.skill{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    padding: 20px;
}
.skill h2{
    font-size: 3rem;
    font-weight: 600px;
}
.skill h4{
    font-size:1.33rem ;
    font-weight:600px;
}
/* .sponsor-style */
.sponsor-info {
    max-width:540px ;
    text-align: center;
    margin:  50px auto;
}
.sponsor-icon{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
    margin-bottom: 20px;
}
.sponsor-icon img{
    filter: grayscale(100%);
}
/* copy-right-section */
.copyright{
    text-align: center;
    border-radius: 8px;
}
.copyright h4{
    font-size: 1.2rem;
    font-weight: 400px;
    color: rgb(66, 66, 66);
    padding: 40px ;
}



/* responsive-style-start for mobile */
@media screen and (max-width:576px) {
    nav,
    ul,
    .business,
    .future{
        flex-direction: column;
    }
    nav li,h2 {
     margin-bottom: 20px;
    }
    .business-img,
    .skills-container{
        grid-template-columns: 1fr;
    }
    .future-btn{
    padding: 30px;
    font-weight: 500;
    margin:10px auto;}
    .future-btn span{
     font-size: 1rem;
    }
    .future-img{
        text-align: center;
    }
    .copyright h4{
    font-size: .7rem;
    font-weight: 400px;
    color: rgb(66, 66, 66);
    padding: 20px ;
}
   
}